<html><body style="font-size:17px">
		<p style="text-align:center;font-family:Times;font-size:40px"><b>FAQ'S</b></p>	
	<script>

	function toggleElement(id)
	{
		if(document.getElementById(id).style.display == 'none')
		{
			document.getElementById(id).style.display = '';
		}
		else
		{
			document.getElementById(id).style.display = 'none';
		}
	}
	</script>
<blockquote>
<p>
	<a name ="x" href="javascript:toggleElement('a1')" style="color:black;text-decoration:none">I am a new user .How to register ?</a>
</p>
<blockquote>
<div id="a1" style="display:none">
	Hey! Please visit the link on the bottom right of the page to register on our database. :)
</div>
</blockquote>
<p>
	<a href="javascript:toggleElement('a2')" style="color:black;text-decoration:none">I forgot my password !!! Please Help!!!?</a>
</p>
<blockquote>
<div id="a2" style="display:none">
	Hey! Please go to the <b>'Forgot my password'</b> link given on the homepage. :)
</div>
</blockquote>
<p>
	<a href="javascript:toggleElement('a3')" style="color:black;text-decoration:none">How to book a reservation??</a>
</p>
<blockquote>
<div id="a3" style="display:none">
	You firstly need to be registered on our database to reserve a book in our library.If you haven't registered yet please 
	<a href "#x" style="text-decoration:none">Register</a>. Once you are done with that you can visit your profile page and book a reservation there.
</div>
</blockquote>
<p>
<a href="javascript:toggleElement('a4')" style="color:black;text-decoration:none">How to cancel a reservation ?</a>
</p>
<blockquote>
<div id="a4" style="display:none">
	Visit your profile page by logging in from the link given on the page.There you will find the link to cancel your reservation.
</div>
</blockquote>
<p>
	<a href="javascript:toggleElement('a5')" style="color:black;text-decoration:none">How to search for a book?</a>
</p>
<blockquote>
<div id="a5" style="display:none">
	First log in to your profile and then search for the book.
</div>
</blockquote>
<p>
	<a href="javascript:toggleElement('a6')" style="color:black;text-decoration:none">Who developed this app???</a>
</p>
<blockquote>
	<i><div id="a6" style="display:none">
			Mohit Jain and Anubhav Srivastava :) .The developers of this app are Undergraduate First Year Computer Science students of IIIT Hyderabad .Feel free to contact us with queries and usefull suggestions :) . We also accept <b>generous</b> donations ;)
</div></i>
</blockquote>
<br/>
</blockquote>
						</body>
					</html>

